.row.clearfix
	.complete
		= link_to complete_project_task_path(task.project, task), method: :patch do
			- if task.completed?
				= icon('check', style: 'opacity:0.4')
			- else
				= icon('check')
	.todo_item
		- if task.completed?
			%p{ style: 'opacity: 0.4' }
				%strike= task.content
		- else
			%p= task.content
	.trash
		= link_to icon('trash'), project_task_path(task.project, task), method: :delete, data: { confirm: 'Are you sure?' }